DATABASE_URL="file:./dev.db"

NEXTAUTH_SECRET="change-me-to-a-long-random-string"
NEXTAUTH_URL="http://localhost:3000"

# Chargily Pay (Algeria) — https://dev.chargily.com/pay-v2/introduction
CHARGILY_SECRET_KEY=""
CHARGILY_WEBHOOK_SECRET=""
CHARGILY_MODE="test"

# Used to sign expiring download URLs for purchased digital products.
DOWNLOAD_SIGNING_SECRET="another-long-random-string"

# Public site config
NEXT_PUBLIC_SITE_NAME="Souk Digital"
NEXT_PUBLIC_DEFAULT_LOCALE="ar"
NEXT_PUBLIC_CURRENCY="DZD"
