node_modules
.next
out
dist
.env
.env.local
*.log
.DS_Store

# Prisma local DB
prisma/dev.db
prisma/dev.db-journal

# Uploaded digital products & payment proofs (local dev only)
uploads/
public/uploads/

# Generated Prisma client (we will keep migrations though)
